vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2016 16:00:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-DO3LT5R\\Haydar
vti_modifiedby:SR|DESKTOP-DO3LT5R\\Haydar
vti_timecreated:TR|20 Apr 2016 16:00:33 -0000
vti_cacheddtm:TX|20 Apr 2016 16:00:33 -0000
vti_filesize:IR|36751
vti_cachedlinkinfo:VX|Q|css Q|url( S|bg.png S|bg.pngbg.png S|bg.pngbg.pngbg.png S|bg.pngbg.pngbg.pngbg.png S|bg.png S|bg.pngbg.png S|bg.pngbg.pngbg.png S|bg.pngbg.pngbg.pngbg.png S|bg.png
vti_cachedsvcrellinks:VX|NQUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/css NQUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/url( NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.pngbg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.pngbg.pngbg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.pngbg.pngbg.pngbg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.pngbg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.pngbg.pngbg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.pngbg.pngbg.pngbg.png NSUS|JavaScript\\ FINAL/JavaScript\\ FINAL/Templates/bg.png
vti_backlinkinfo:VX|
